<div class="row show-hide-message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-plus"></i> New Post
</button>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm">
            <textarea></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button [disabled]="loadingPosts" type="button" name="button" class="btn btn-info" (click)="reloadPosts()">
   <i class=" fa fa-refresh"></i> Refresh
</button>
<br />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
            </a>
        </div>
        <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
        <span>
            <div class="navbar-right">
                <div class="dropdown">
                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                        <li><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </span>
        <hr>
        <div class="post-content">
            <p>Simple post content example.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
        </div>
        <hr>

        <!-- Like button -->
        <div class="dropdown">
            <div class="pull-left btn-group-xs">
                <button class="btn btn-success" >
                    <i class="fa fa-heart" aria-hidden="true"></i> 21 Like
                </button>
                <div class="dropdown-content">
                    <a href="">jas75</a>
                    <a href="">dov75</a>
                    <a href="">vero75</a>
                </div>
            </div>
        </div>

        <!-- Dislike button -->
        <div class="dropdown">
            <div class="pull-left btn-group-xs">
                <button class="btn btn-danger"  style="margin-left: 3px;">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i> 11 Dislike
                </button>
                <div class="dropdown-content">
                    <a href="">jas75</a>
                    <a href="">dov75</a>
                    <a href="">vero75</a>
                </div>
            </div>               
            
        </div>

        <!-- Share button -->
        <div class="dropdown">
            <div class="pull-left btn-group-xs">
                <button class="btn btn-default" style="margin-left: 3px;">
                    <i class="fa fa-retweet"></i> Share
                </button>
            </div>
        </div>
        
         <br />
        <hr />
        <div class="media">
            <div class="pull-left">
                <a href="#">
                    <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                </a>
            </div>
            <div class="media-body">
                <form [formGroup]="form">
                    <textarea name="comment" class="form-control" rows="1" placeholder="Comment"></textarea>
                    <br />
                    <button type="submit" class="btn btn-primary btn-xs">Post Comment</button>
                </form>
                
            </div>
        </div>
    </div>
</div>